DistantFieldPS20 RCDATA "Shaders/DistantFieldPS20.bin"
DistantFieldVS30 RCDATA "Shaders/DistantFieldVS30.bin"
DistantFieldPS30 RCDATA "Shaders/DistantFieldPS30.bin"
CirclePS20 RCDATA "Shaders/CirclePS20.bin"
CircleVS30 RCDATA "Shaders/CircleVS30.bin"
CirclePS30 RCDATA "Shaders/CirclePS30.bin"
mrtVS20 RCDATA "Shaders/mrtVS20.bin"
mrtPS20 RCDATA "Shaders/mrtPS20.bin"
mrtVS30 RCDATA "Shaders/mrtVS30.bin"
mrtPS30 RCDATA "Shaders/mrtPS30.bin"
deferredVS20 RCDATA "Shaders/deferredVS20.bin"
deferredPS20 RCDATA "Shaders/deferredPS20.bin"
deferredVS30 RCDATA "Shaders/deferredVS30.bin"
deferredPS30 RCDATA "Shaders/deferredPS30.bin"
